{% extends 'layouts/base.html' %}
{% block content %}
<h1>Users</h1>
<p><strong>User: </strong>{{ user.name }}</p>
<p><strong>Username: </strong>{{ user.username }}</p>
<div class="card">
    <div class="card-header">Roles for this user</div>
    <div class="card-body">
        <ul>
        {% for role in user.roles %}
            <li><a href="{{ url_for('user_management.roles.show', id=role.id) }}">{{ role.name }}</a></li>
        {% else %}
            <li>This user has no role</li>
        {% endfor %}
        </ul>
    </div>
</div><br>
<a href="{{ url_for('user_management.users.index') }}"><button class="btn btn-primary">All users</button></a>
<a href="{{ url_for('user_management.users.edit', id=user.id) }}"><button class="btn btn-primary">Edit this user</button></a>
<button class="btn btn-danger" data-route="{{ url_for('user_management.users.destroy', id=user.id) }}" id="deleteButton">Delete this user</button>

{% endblock %}
