.spaced {
    padding-top: 20px;
}


.container {
    margin-top: 30px;
}

.dropdown-item:hover, .dropdown-item:active {
    background-color:rgb(173, 216, 164) !important;
}

.id_show {
    width: 80px;
}

[class*="-primary"] {
    background-color:rgb(109, 170, 97) !important;
}