{% extends 'layouts/base.html' %}
{% block content %}
<h1>Roles</h1>
<h3>Create new role</h3>
<form action="{{ url_for('user_management.roles.create') }}" method="post">
    <div class="form-group">
        <label for="name"></label>
        <input class="form-control"  type="text" name="name" id="name">
    </div>
    <input class="btn btn-primary" type="submit" value="Save">
    <a href="{{ url_for('user_management.roles.index') }}"><button class="btn btn-primary" type="button">All roles</button></a>
</form>

{% endblock %}